.container {
  height: 700px;
  position: relative;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.title {
  color: #4218b9;
  margin-bottom: 56px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-size: 3rem;
}

.card {
  padding: 24px 24px 47px;
  background: rgba(66, 24, 185, 0.05);
  border-radius: 12px;
  max-width: 300px;
  height: 400px;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.cardTitle {
  color: #050112;
  line-height: 120%;
  font-size: 1.5rem;
  margin-top: 8px;
}

.cardText {
  margin-top: 8px;
  font-size: 1rem;
  line-height: 130%;
  width: 300px;
  text-align: left;
}

@media screen and (max-width: 420px) {
  .container {
    height: 450px;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .title {
    color: #4218b9;
    margin-bottom: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  
  .card {
    padding: 10px;
    background: rgba(66, 24, 185, 0.05);
    border-radius: 12px;
    width: 388px;
    height: 310px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .card >img{
    height: 150px;
    aspect-ratio: auto 220 / 280;
  }
  
  .cardTitle {
    color: #050112;
    line-height: 120%;
    font-size: 1rem;
    margin-top: 8px;
  }
  
  .cardText {
    margin-top: 8px;
    font-size: 1rem;
    line-height: 130%;
    width: 250px;
    text-align: left;
  }
}