/**
 * Quick and easy CSS3 rolling-number/slot machine?
 */

#counter {
  height: 27px;
  overflow: hidden;
  width: 100%;
}

.digits-first {
  margin-top: -4em; /* number 4! */
}

.digits-second {
  margin-top: 0em; /* number 0! */
}

.digits-third {
  margin-top: -4em; /* number 4! */
}

.digits {
  float: left;
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 117%;
  transform: translateZ(0);
  will-change: transform;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  padding-left: 10px;
}

.luckie {
  animation-name: luckie;
}

/* Animations */
@keyframes luckie {
  100% {
    margin-top: -7em;
  }
}
