.container {
  height: 800px;
  background-color: #050112;
  position: relative;
}
.infoContainer {
  display: flex;
  align-items: flex-end;
}
.heroImg {
  position: absolute;
  width: 98%;
  z-index: 1;
  top: -50px;
}
.title {
  position: fixed;
  color: white;
  padding-left: 100px;
  padding-top: 20px;
  font-size: 18px;
}

.title > span {
  font-weight: 900;
  color: rgb(244, 116, 138);
}

.headline {
  font-size: 8.125rem;
  color: white;
  position: relative;
  z-index: 2;
  padding-left: 100px;
  width: 700px;
  padding-top: 120px;
}

.text {
  color: white;
  width: 550px;
  font-size: 1.25rem;
  line-height: 135%;
}

.text > span {
  color: #9378e2;
}
.contactContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
  padding-right: 100px,
}
.btn {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  width: 220px;
  height: 58px;
  padding: 19px;
  position: relative;
  z-index: 2;
  color: white;
  border-radius: 40px;
  font-size: 18px;
  margin-left: 100px;
}

.info {
  color: white;
  font-size: 1.25rem;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.slidingLine {
  overflow: hidden;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  background: rgba(42, 23, 98, 0.4);
}

.wordsContainer {
  display: flex;
  animation: slide 10s linear infinite;
  animation-direction: normal; /* Reverse the animation direction */
}

.word {
  padding: 0 200px 0 0;
  white-space: nowrap;
  color: white;
  font-weight: 900;
  font-size: 20px;
}

@keyframes slide {
  0% {
    transform: translateX(100%); /* Start from the right side */
  }
  100% {
    transform: translateX(0); /* Slide to the left */
  }
}

@media screen and (max-width: 420px) {
  .container {
    height: 500px;
    background-color: #050112;
    position: relative;
  }
  .container > div {
    display: flex;
    flex-direction: column;
  }
  .heroImg {
    position: absolute;
    height: 72%;
    width: 177%;
    top: 100px;
    z-index: 0;
  }
  .title {
    position: static;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 14px;
  }

  .title > span {
    font-weight: 900;
    color: rgb(244, 116, 138);
  }
  .infoContainer {
    align-items: flex-start;
  }
  .headline {
    font-size: 2rem;
    color: white;
    position: relative;
    z-index: 2;
    padding-left: 0;
    width: 200px;
    padding-top: 50px;
    margin-left: 20px;
  }

  .text {
    color: white;
    width: 350px;
    font-size: 0.7rem;
    line-height: 135%;
    margin-top: 20px;
    margin-left: 20px;
  }

  .text > span {
    color: #9378e2;
  }
  .contactContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
  }
  .btn {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    width: 150px;
    height: 50px;
    padding: 19px;
    font-size: 14px;
    margin-left: 0;

  }

  .info {
    color: white;
    font-size: 0.7rem;
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 50px;
  }

  .slidingLine {
    overflow: hidden;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 5;
    background: rgba(42, 23, 98, 0.4);
  }

  .wordsContainer {
    display: flex;
    align-items: center;
    animation: slide 10s linear infinite;
    animation-direction: normal; /* Reverse the animation direction */
  }

  .word {
    padding: 0 200px 0 0;
    white-space: nowrap;
    color: white;
    font-weight: 900;
    font-size: 10px;
    line-height: 40px;
  }
}
