.container {
  height: 128px;
  background: #050112;
  padding: 40px 100px;
  position: sticky;
  color: #fff;
  font-size: 14px;
  line-height: 130%;
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}

.nav > span {
  margin-bottom: 12px;
  font-weight: 400;
  line-height: 140%;
}

.title {
  color: white;
  padding-top: 20px;
  font-size: 18px;
}

.title > span {
  font-weight: 900;
  color: rgb(244, 116, 138);
}

@media screen and (max-width: 390px) {
  .container {
    height: 300px;
    background: #050112;
    padding: 40px 0;
    position: sticky;
    color: #fff;
    font-size: 14px;
    line-height: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 50px;
  }
  
  .nav > span {
    margin-bottom: 12px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    font-size: 20px;
  }
  
  .title {
    color: white;
    padding-top: 0;
    font-size: 18px;
  }
  
  .title > span {
    font-weight: 900;
    color: rgb(244, 116, 138);
  }
  
}